<div class="question-block">
  <h5>Your question is: </h5>
  <%=@user_question%>
</div>

<div class="answer-block">
  <h5>The answer the COACH gave is:  </h5>
  <%=@answer%>
</div>

<%= link_to "Ask another question..", root_path%>
